# Byte-compiled / optimized / DLL files
NewsSearchSystem/__pycache__/
*.py[cod]
*$py.class
backend/__pycache__

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea
out

# Unittest / Coverage report
.coverage
.pytest_cache/
coverage-reports/
xunit-reports/

**/.DS_Store
